{% load static %}

{% block code %}
<html>
<body style="background-color:#420D09">

<h3>This is my block code
    <h3>
        <!DOCTYPE html>
        <html>
        <head>




            </style>
        </head>
        <body>

        <h1 style="text-align:center;color:#78998a">Products</h1>
        <table align="center">


            <ol>
                <tr>
                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt1.jpg' %}" alt="Denim Jeans" >
                            <h1>Star top</h1>
                            <p class="price">$19.99</p>
                            <p>Lorem jeamsun
                                denim lorem
                                jeansum.</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt2.jpg' %}" alt="Denim Jeans">
                            <h1>crop top</h1>
                            <p class="price">$19.99</p>
                            <p>ash coloured with awasome look
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt3.jpg' %}" alt="Denim Jeans">
                            <h1>baby top</h1>
                            <p class="price">$19.99</p>
                            <p>pink top for girl
                                .</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt4.jpg' %}" alt="Denim Jeans" >
                            <h1>Printed top</h1>
                            <p class="price">$19.99</p>
                            <p>beautiful Butterfly printing
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>

                </tr>


                 <tr>
                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt1.jpg' %}" alt="Denim Jeans" >
                            <h1>Star top</h1>
                            <p class="price">$19.99</p>
                            <p>Lorem jeamsun
                                denim lorem
                                jeansum.</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt2.jpg' %}" alt="Denim Jeans">
                            <h1>crop top</h1>
                            <p class="price">$19.99</p>
                            <p>ash coloured with awasome look
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt3.jpg' %}" alt="Denim Jeans">
                            <h1>baby top</h1>
                            <p class="price">$19.99</p>
                            <p>pink top for girl
                                .</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt4.jpg' %}" alt="Denim Jeans" >
                            <h1>Printed top</h1>
                            <p class="price">$19.99</p>
                            <p>beautiful Butterfly printing
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>

                </tr>


                 <tr>
                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt1.jpg' %}" alt="Denim Jeans" >
                            <h1>Star top</h1>
                            <p class="price">$19.99</p>
                            <p>Lorem jeamsun
                                denim lorem
                                jeansum.</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">
                            <img src="{% static 'blog/images/tshirt2.jpg' %}" alt="Denim Jeans">
                            <h1>crop top</h1>
                            <p class="price">$19.99</p>
                            <p>ash coloured with awasome look
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt3.jpg' %}" alt="Denim Jeans">
                            <h1>baby top</h1>
                            <p class="price">$19.99</p>
                            <p>pink top for girl
                                .</p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>


                    <td>
                        <div class="card" style="background-color:#4c4c4c">

                            <img src="{% static 'blog/images/tshirt4.jpg' %}" alt="Denim Jeans" >
                            <h1>Printed top</h1>
                            <p class="price">$19.99</p>
                            <p>beautiful Butterfly printing
                            </p>
                            <p>
                                <button>Add to Cart</button>
                            </p>
                        </div>
                    </td>

                </tr>



            </ol>
        </table>


        </body>

        </html>
        {% endblock code %}